*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}
.enca{
    background: rgba(123, 98,0,0.5);
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    height: 85px;
}
.wrapper{
    width: 90%;
    max-width: 1180px;
    margin: auto;
    overflow: hidden;
}
.logo{
    color: #18ac0a;
    font-size: 60px;
    font-family: Berlin Sans FB;
    overflow: hidden;
    float: left;
}
nav{
    line-height: 70px;
    float: right;
}
nav a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-family: Arial Narrow;
    font-weight: bold;
    padding: 20px 10px;
    line-height: normal;
    font-size: 16px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
nav a:hover{
    color: #18ac0a;
    border-bottom: 5px solid #18ac0a;
}